.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  padding: var(--space-8) 0 var(--space-9);
}

@media (max-width: 768px) {
  .layout__main {
    padding-bottom: var(--space-10);
  }
}

